.workouts {
  display: flex;
  margin: 0;

  @include respond-laptop() {
    margin: 0 10rem;
  }
  @include respond-tablet() {
    flex-direction: column;
    margin: 0;
  }
  @include respond-phone() {
    flex-direction: column;
    margin: 0;
  }
}
